In [2]:
import pandas as pd   
import numpy as np
import seaborn as sns    
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
df = pd.read_csv('uber.csv')
df.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

Об этом файле

Набор данных содержит следующие поля:

- key — уникальный идентификатор для каждой поездки
- pickup_datetime — дата и время включения счетчика
- passenger_count — количество пассажиров в транспортном средстве (значение, введенное водителем) 
- pickup_longitude — долгота, на которой был включен счетчик 
- pickup_latitude — широта, на которой был включен счетчик 
- dropoff_longitude — долгота, на которой был отключен счетчик 
- dropoff_latitude — широта, на которой был отключен счетчик

Целевой признак:
- fare_amount — стоимость каждой поездки в долларах США

In [5]:
# объём данных (строк и столбцов - объектов и признаков)
df.shape

(200000, 9)

In [7]:
# выводим типы данных
df.dtypes

Unnamed: 0             int64
key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [8]:
# имена колонок в виде списка
columns = df.columns
columns

Index(['Unnamed: 0', 'key', 'fare_amount', 'pickup_datetime',
       'pickup_longitude', 'pickup_latitude', 'dropoff_longitude',
       'dropoff_latitude', 'passenger_count'],
      dtype='object')

In [9]:
for col in df.columns:
    print('Кол-во пропусков в колонке %s = %d' % (col, df[col].isna().sum()))

Кол-во пропусков в колонке Unnamed: 0 = 0
Кол-во пропусков в колонке key = 0
Кол-во пропусков в колонке fare_amount = 0
Кол-во пропусков в колонке pickup_datetime = 0
Кол-во пропусков в колонке pickup_longitude = 0
Кол-во пропусков в колонке pickup_latitude = 0
Кол-во пропусков в колонке dropoff_longitude = 1
Кол-во пропусков в колонке dropoff_latitude = 1
Кол-во пропусков в колонке passenger_count = 0

In [10]:
df.dropna(inplace=True)

In [11]:
for col in df.columns:
    print('Кол-во пропусков в колонке %s = %d' % (col, df[col].isna().sum()))

Кол-во пропусков в колонке Unnamed: 0 = 0
Кол-во пропусков в колонке key = 0
Кол-во пропусков в колонке fare_amount = 0
Кол-во пропусков в колонке pickup_datetime = 0
Кол-во пропусков в колонке pickup_longitude = 0
Кол-во пропусков в колонке pickup_latitude = 0
Кол-во пропусков в колонке dropoff_longitude = 0
Кол-во пропусков в колонке dropoff_latitude = 0
Кол-во пропусков в колонке passenger_count = 0

In [12]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,199999.0,2.771248e+07,1.601386e+07,1.000000,1.382534e+07,2.774524e+07,4.155535e+07,5.542357e+07
fare_amount,199999.0,1.135989e+01,9.901760e+00,-52.000000,6.000000e+00,8.500000e+00,1.250000e+01,4.990000e+02
pickup_longitude,199999.0,-7.252763e+01,1.143782e+01,-1340.648410,-7.399206e+01,-7.398182e+01,-7.396715e+01,5.741846e+01
pickup_latitude,199999.0,3.993588e+01,7.720558e+00,-74.015515,4.073480e+01,4.075259e+01,4.076716e+01,1.644421e+03
dropoff_longitude,199999.0,-7.252529e+01,1.311741e+01,-3356.666300,-7.399141e+01,-7.398009e+01,-7.396366e+01,1.153573e+03
dropoff_latitude,199999.0,3.992389e+01,6.794829e+00,-881.985513,4.073382e+01,4.075304e+01,4.076800e+01,8.726976e+02
passenger_count,199999.0,1.684543e+00,1.385995e+00,0.000000,1.000000e+00,1.000000e+00,2.000000e+00,2.080000e+02

In [13]:
df[df['fare_amount'] <= 0]

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,172679.0,2.772109e+07,1.600770e+07,1.000000,1.385852e+07,2.774524e+07,4.154940e+07,5.542290e+07
fare_amount,172679.0,1.249701e+01,1.019571e+01,5.000000,6.900000e+00,9.300000e+00,1.370000e+01,4.990000e+02
pickup_longitude,172679.0,-7.253622e+01,1.120264e+01,-1340.648410,-7.399227e+01,-7.398197e+01,-7.396739e+01,5.741846e+01
pickup_latitude,172679.0,3.994568e+01,7.942683e+00,-74.015515,4.073409e+01,4.075221e+01,4.076669e+01,1.644421e+03
dropoff_longitude,172679.0,-7.255497e+01,1.342776e+01,-3356.666300,-7.399152e+01,-7.398009e+01,-7.396332e+01,1.153573e+03
dropoff_latitude,172679.0,3.993742e+01,6.877610e+00,-881.985513,4.073266e+01,4.075265e+01,4.076753e+01,8.726976e+02
passenger_count,172679.0,1.693640e+00,1.404312e+00,0.000000,1.000000e+00,1.000000e+00,2.000000e+00,2.080000e+02